<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Spring Boot default base configuration -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <!-- Spring Boot defined console log appender -->
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <!-- Rolling file appender -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/${LOG_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
      <!-- keep 30 days' worth of history capped at 3GB total size -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>20GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- Console only in development setup -->
  <springProfile name="development">
    <logger name="io.omnidata.odmp" level="DEBUG"/>
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
  <!-- File logging in testing and production environments -->
  <springProfile name="testing, production">
    <root level="INFO">
      <appender-ref ref="FILE"/>
    </root>
  </springProfile>
</configuration>