<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="renderer" content="webkit">

  <!--[if lt IE 9]>
  <meta http-equiv="refresh" content="0;ie.html"/>
  <![endif]-->
  <title>首页 - ODMP控制中心</title>

  <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">
  <link href="../static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet"
        th:href="@{/css/bootstrap.min.css}">
  <link href="../static/css/bootstrap-toc.min.css?v=0.4.1" rel="stylesheet"
        th:href="@{/css/bootstrap-toc.min.css}">
  <script src="../static/js/jquery-1.10.2.min.js?v=2.1.4"
          th:src="@{/js/jquery-1.10.2.min.js}"></script>
  <script src="../static/js/bootstrap.min.js?v=3.3.6" th:src="@{/js/bootstrap.min.js}"></script>
  <script src="../static/js/bootstrap-toc.min.js?v=0.4.1"
          th:src="@{/js/bootstrap-toc.min.js}"></script>
</head>

<body data-spy="scroll" data-target="#toc">
<nav class="navbar navbar-inverse navbar-static-top" th:replace="fragments/header :: header">
  <!-- ============================================================================ -->
  <!-- This content is only used for static prototyping purposes (natural templates)-->
  <!-- and is therefore entirely optional, as this markup fragment will be replaced -->
  <!-- with "fragments/header.html" at runtime.                                     -->
  <!-- ============================================================================ -->
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ODMP控制中心</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">首页</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1 class="page-header">概览</h1>
      <p class="lead">万数链数据交换平台（<i>Omni Data Market Place</i>，以下简称<strong>ODMP</strong>）是构建在万数链（<i>Omni
        Data Chain</i>，以下简称<strong>ODC</strong>）上的去中心化、开放的数据服务平台，为机构和机构、机构和个人间数据安全、有控的交换提供基础设施。
      </p>
      <p><abbr title="Omni Data Market Place" class="initialism">ODMP</abbr>提供开放的API访问，以方便地集成到现有系统中。
        此外，围绕服务API也提供SDK和用户控制中心，满足不同领域用户的使用需求。
      </p>
      <h2>使用方式</h2>
      <p>支持以下的两种查询方式：
      <ul>
        <li>通过SDK集成服务API，可以实时或异步查询。用户需要开发服务接口，适合技术能力较强的团队；</li>
        <li>通过控制中心自助服务，无需开发。适合少量查询和大批量的异步查询。</li>
      </ul>
      </p>
      <p><abbr title="Omni Data Market Place" class="initialism">ODMP</abbr>目前提供Java版本的SDK，
        后续Node.js、Python、PHP等支持将随后推出。</p>
      <h1 class="page-header">批量查询</h1>
      <p class="lead">用户可以通过控制中心发起批量查询，并在收到通知后获取查询的结果。</p>
      <p>在批量查询模式下，用户可以一次提交大量的带查询借款人散列后的基本信息。批量查询以异步的方式完成，完成后查询发起机构将收到通知。发起批量查询的主要步骤包含：
      <ol>
        <li>下载密钥生成、借款人基本信息哈希、椭圆曲线非对称加解密脚本；</li>
        <li>对借款人基本信息做散列处理；</li>
        <li>通过控制中心提交借款人基本信息的哈希值，发起查询；</li>
        <li>在查询完成后，获取查询结果。</li>
      </ol>
      </p>
      <h2>下载ODMP工具包</h2>
      <p><abbr title="Omni Data Market Place" class="initialism">ODMP</abbr>的工具包包含了椭圆曲线密钥生成、借款人基本信息散列处理、基于椭圆曲线的非对称加解密的功能。可以从这里下载：<a href="#">脚本</a></p>。
      <h2>计算借款人信息哈希值</h2>
      <p>为保证借款人信息的隐匿性，所有被查询的借款人都使用不可逆的密码学散列函数处理。</p>
      <h2>提交查询参数</h2>
      <p>用户可以指定被查询机构，通过<abbr title="Omni Data Market Place" class="initialism">ODMP</abbr>平台发起查询。</p>
      <h2>获取查询结果</h2>
      <p>批量查询完成后，用户可以在"我的查询"中下载查询结果。使用上述的解密工具还原查询结果的明文。</p>
      <h1 class="page-header">交互查询</h1>
      <p class="lead">用户可以通过控制中心以交互的方式查询一个或几个借款人的信息，并实时得到结果。</p>
      <h2>交互查询</h2>
      <p>手动查询提供了简单快捷的方式查询一个或几个借款人信息。</p>
      <h2>下载ODMP工具包</h2>
      <p><abbr title="Omni Data Market Place" class="initialism">ODMP</abbr>的工具包包含了椭圆曲线密钥生成、借款人基本信息散列处理、基于椭圆曲线的非对称加解密的功能。可以从这里下载：<a href="#">脚本</a></p>。
      <h2>计算借款人信息哈希值</h2>
      <p>为保证借款人信息的隐匿性，所有被查询的借款人都使用不可逆的密码学散列函数处理。</p>
      <h2>提交查询参数</h2>
      <p>用户可以指定被查询机构，通过<abbr title="Omni Data Market Place" class="initialism">ODMP</abbr>平台发起查询。</p>
      <h2>获取查询结果</h2>
      <p>批量查询完成后，用户可以在"我的查询"中下载查询结果。使用上述的解密工具还原查询结果的明文。</p>
      <h1 class="page-header">使用API</h1>
      <p class="lead">ODMP提供开放的API访问。</p>
      <h2>创建访问密钥</h2>
      <p>客户端访问ODMP的API需要提供<code>access_key</code>和<code>secret</code>。</p>
      <h2>获取SDK</h2>
      <p>待完成。</p>
    </div>
    <div class="col-md-3">
      <nav id="toc" data-spy="affix" data-toggle="toc" class="sticky-top"></nav>
    </div>
  </div>

  <footer th:replace="fragments/footer :: footer" class="text-center">&copy; 2017 Default Footer
  </footer>
</div>
<!-- Page-Level Scripts -->

</body>

</html>
